
.App .container .left {
    width: calc(60% - (.5em + 6px));
    float: left;
    min-height: 400px;
    margin-top: 1em;
}

.App .container .right {
    width: calc(40% - (.5em + 6px));
    float: right;
    min-height: 400px;
    margin-top: 1em;
}